.movie-card {
    width: 20vw;

    margin: 1rem;
    background-color: #d9d9d9;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.poster {
    width: 100%;
}
.favorite-icon {
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: none;
    color: rgb(201, 201, 8);
    background-color: #d9d9d9;
    padding: 0.2rem;
    font-size: 2rem;
    cursor: pointer;
}
